<div id="processing_modaldialogbox" class="modal">
    <div class="modal-content" style="width:25%;">
        <div style="margin:0 auto;font-weight:bold;">PROCESSING PLEASE WAIT...</div>
    </div>
</div>